.cart-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  right: 0;
  align-items: start;
  justify-content: end;
  background: rgba(0, 0, 0, 0);
  display: flex;
  transform: translateX(100%);
  transition: 0.5s;
  .my-bag {
    font-size: 20px;
  }
  .close-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid black;
        cursor: pointer;
    }
  }
  &__cart {
    border: 1px solid rgb(129, 129, 129);
    padding: 50px;
    width: 500px;
    height: 800px;
    background: white;
    z-index: 15;
  }
  .items-wrapper {
    max-height: 500px;
    overflow: auto;
    border-bottom: 1px solid grey;
  }
  .amount-section1 {
    text-transform: uppercase;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    &__subtotal {
      display: flex;
      justify-content: space-between;
    }
    &__fee {
      display: flex;
      justify-content: space-between;
    }
  }
  .amount-section2 {
    text-transform: uppercase;
    padding: 10px 0;
    &__total {
      display: flex;
      justify-content: space-between;
    }
    &__button {
      width: 100%;
      margin-top: 20px;
      font-size: 25px;
      padding: 5px;
      text-transform: uppercase;
      background: #282828;
      color: rgb(220, 220, 220);
      border: none;
      cursor: pointer;
      &:hover {
        background: #202020;
        color: white;
      }
    }
  }
}
