.order-summary-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  &__checkout {
    width: 500px;
    height: 400px;
    background: rgb(240, 240, 240);
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;

    &-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-bottom: 1px solid grey;
    }
  }
  .container-heading {
    font-size: 28px;
  }
  .container-paragraph {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
  .order-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__text {
      color: grey;
    }
    &__button {
      height: 50px;
      font-size: 24px;
      background: #282828;
      color: white;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      &:hover {
        background: #333333;
      }
    }
  }
  .payment-type {
    width: 500px;
    height: 160px;
    background: rgb(240, 240, 240);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__text {
      font-size: 25px;
    }
    &__icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      height: 32px;
    }
  }
  .retour-container {
    background: rgb(240, 240, 240);
    width: 500px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__heading {
      font-size: 26px;
    }
    &__text {
      font-size: 14px;
    }
    &__flex {
      display: flex;
    }
  }
}
